.App {
  margin-top: 1%;
  text-align: center;
  background-color: #eaf1f1;
}
.formInput {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.submitButton{
  border-radius: 5px;
  padding:1px 8px 1px 8px;
}
.submitButton:hover{
  background-color:#767976;
  color:#fffafa;
}

.App-header {
  font-style: normal;
  padding: 10px 0px 10px 0px;
  margin-bottom: 30px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
  font-size:30px;
}
.inputField{
  border:1px solid #d6d3d3;
  padding:4px 0px 4px 3px;
}

li{
  text-align: center;
}

